@charset "UTF-8";
/* 공통 */
#memberList-container{
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow:hidden;
    text-align: center;
}

/* 블랙리스트 영역 */
.blackh2{
	padding-bottom:30px;
	border-bottom: 1px solid rgb(225, 225, 225);
}
#blackListTableArea{
    width:500px;
    margin: 0 auto;
    border: 0;
    font-size: 14px;
}
#blackListArea{
    width:100%;
    margin-top:50px;
    margin-bottom:50px;
}
#blackListArea th{
	background-color: #00b2b2;
}
#blackListArea th:first-of-type{
    width:60px;
}
#blackListArea th:last-of-type{
    width:60px;
}
#blackListArea td{
	border-top: 2px solid rgb(225, 225, 225);
    border-bottom: 2px solid rgb(225, 225, 225);
    padding: 5px;
}
input[value="해제"]{
    background-color: rgb(225,225,225);
    border: 0;
    border-radius: 15px;
}
input[value="해제"]:hover{
    background-color: red;
    color:white;
    transition: all ease 0.3s;
}

/* 회원조회 영역*/
/* 검색 */
div#search-container{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(225, 225, 225);
}

#memberSearchKeyword,
#memberSearchKeyword2{
	height:23px;
	outline:0;
}

#search-type,
#memberRole{
	outline: 0;
}

#searchButton,
#searchButton2{
    width: 70px;
    height: 30px;
    background-color: gray;
    color: white;
    border-radius: 10%;
    border: 0;
    outline: 0;
}

#searchButton:hover,
#searchButton2:hover{
    cursor: pointer;
    background-color: #00a2a2;
    transition: all ease 0.3s;
}

#resetArea{
	margin-top: 20px;
}

/* 조회, 권한변경, 삭제 */
#memberCount{
    text-align: left;
}

#memberTableArea{
    width: 900px;
    margin: 0 auto;
    border: 0;
    font-size: 14px;
}

table, th, td{
    border-collapse: collapse;
}

#memberListArea{
	width:100%;
    margin-top:50px;
    margin-bottom:50px;
}

#memberListArea th{
    background-color: #00b2b2;
    color:white;
    font-size: 14px;
}

#memberListArea th:first-of-type{
    width:60px;
}

#memberListArea th:nth-of-type(4){
    width:80px;
}

#memberListArea th:last-of-type{
    width:80px;
}

#memberListArea td{
    border-top: 2px solid rgb(225, 225, 225);
    border-bottom: 2px solid rgb(225, 225, 225);
    padding: 5px;
}

#memberListArea tbody tr:hover{
	background-color: rgb(240, 240, 240);
}

input[value="강제추방"]{
	height: 23px;
    background-color: rgb(225, 225, 225);
    border: 0;
    border-radius: 10px;
}

input[value="강제추방"]:hover{
    cursor: pointer;
    transition: all ease 0.3s;
    color: white;
    background-color: red;
}

/* 페이지바 */
#pageBar{
	text-align: center;
	height:50px;
	margin-top:70px;
	margin-bottom:40px;
}
#pageBar span{
	margin-right:4px;
    border-radius: 15%;
    padding: 9px 15px;
    border:1px solid #00a2a2;
    background-color: #00a2a2;
    text-decoration: none;
    color: white;
}
#pageBar a{
	border-radius: 15%;
    padding: 9px 15px;
    border:1px solid #00a2a2;
    background-color: white;
    text-decoration: none;
    color: black;
}

#pageBar a:hover{
    background-color: #00a2a2;
    color: white;
    transition: all ease 0.5s;
}

#pageBar a:active{
    color: gray;
}
#nonePage{
	height:100px;
}

/* 현재페이지바 */
/* #pageBar{
	margin-top:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pageBar ul{
    position:relative;
    background: #fff;
    display: flex;
    padding: 10px 20px;
    border-radius: 50px;
}
ul li.cPage
{
    list-style: none;
    line-height: 50px;
    margin: 0 5px;
    
}
ul li.cPage{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
ul li.cPage a{
    display: block;
    text-decoration: none;
    background: white;
    border:1px solid #00a2a2;
    color: #00a2a2;
    border-radius: 50%;
}
ul li .cPageA{
	display: block;
	width: 50px;
    height: 50px;
	border:1px solid #00a2a2;
	background-color:#00a2a2;
	border-radius: 50%;
	color: white;
}
ul li.cPage:hover a,
ul li.cPage.active a{
    transition: all ease 0.5s;
    background-color:#00a2a2;
    color: white;
}
ul li.cPage .prev{
    text-align: center;
    width: 50px;
    height: 50px;
    font-weight: 700;
    font-size: 20px;
}
ul li.cPage .next{
    text-align: center;
    width: 50px;
    height: 50px;
    font-weight: 700;
    font-size: 20px;
}
 */