/* 공통 */
#memberList-container{
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow:hidden;
    text-align: center;
}

/* 검색 */
div#search-container{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(225, 225, 225);
}

input{
    height:20px;
}

button{
    width: 70px;
    height: 30px;
    background-color: gray;
    color: white;
    border-radius: 10%;
    border: 0;
    outline: 0;
}

button:hover{
    cursor: pointer;
    background-color: #007bff;
    transition: all ease 0.3s;
}

/* 조회, 권한변경, 삭제 */
#memberCount{
    text-align: left;
}

#mebmerTableArea{
    width: 900px;
    margin: 0 auto;
    border: 0;
    font-size: 14px;
}
#memberListArea{
    width:100%;
}

table, th, td{
    border-collapse: collapse;
}

#memberListArea{
    margin-top:50px;
    margin-bottom:50px;
}

#memberListArea th{
    background-color: #00b2b2;
    color:white;
    font-size: 14px;
}

#memberListArea th:first-of-type{
    width:60px;
}

#memberListArea th:nth-of-type(4){
    width:80px;
}

#memberListArea th:last-of-type{
    width:80px;
}

#memberListArea td{
    border-top: 2px solid rgb(225, 225, 225);
    border-bottom: 2px solid rgb(225, 225, 225);
    padding: 5px;
}

input[value="강제추방"]{
    background-color: rgb(225, 225, 225);
    border: 0;
    border-radius: 10px;
}

input[value="강제추방"]:hover{
    cursor: pointer;
    transition: all ease 0.3s;
    color: white;
    background-color: red;
}