@charset "UTF-8";
footer {
	margin: 0 auto;
	width: 1300px;
	clear: both;
}
.IF-footer{
	display: flex;
	}
.IF-footer-Information{
	padding-left: 4vw;
	 line-height: 10px;
	 margin-top: 6px;
}
.IF-footer-site{
	margin-top: 1vw;
	padding-left: 2vw;
	line-height: 1px;
}
.If-footer-question{
	padding-left: 2vw;
	padding-top: 1.1vw;
	line-height: 8px;
}
.If-footer-question button{
	      width: 145px;
   	 font-size: 15px;
    line-height: 48px;
    letter-spacing: -0.3px;
    border-radius: 24px;
    background-color: #222;
     border: 0;
     outline: 0;
     color: #fff;
     margin-top: 20px;
}
.If-footer-question-p{
    color: #444444;
    font-size: 15px;
    font-weight: 700;
}
.If-footer-question-p1{
    padding-top: 8px;
    color: #333;
    font-weight: 600;
}
.If-footer-black{
	height: 100px;
    background-color: #222;
    position: relative;
	
}
.If-footer-black-p{
	font-weight:800;
	    color:#90949C;
    position: absolute;
    margin-top: 37px;
  	text-align: center;
    width: 100%;
}

a:hover {
	color:  #00a2a2;
}