/* 펀딩리스트 */
.fundingMainWrapper{
    padding-top: 10px;
    padding-bottom: 10px;
}

/*슬라이드 이미지*/
.carousel-item active a img{
    width: 100%;
    height: 100%;
}

/*오픈예정 리스트*/
.earlyProjectListHeadTitle{
	font-size:24px;
	font-weight:700;
	margin-top: 60px;
	margin-bottom: 20px
}
.earlyProjectCardItemTitleLinkArea{
	text-decoration: none;
}
.earlyProjectCardItemTitleLink,
.earlyProjectCardDay,
.rewordProjectCardMakerName{
	margin:0;
}
.earlyProjectCardItemTitleLink{
	display: block;
	font-size:20px;
}
.earlyProjectCardDay{
	display: block;
	font-weight:700;
	font-size:20px;
	color: #00b2b2;
}
.rewordProjectCardMakerName{
	font-weight:700;
	font-size:13px;
}

/*펀딩리스트*/
/*펀딩카테고리*/

.fundingCategoryContainer{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#fundingCategoryC0,
#fundingCategory{
	display:inline-block;
	padding-left: 48px;
    text-indent: -48px;
}

.fundingCategoryList{
    padding-left: 48px;
    text-indent: -48px;
    line-height: 0;
    font-size: 0;
    margin: auto;

}

.fundingCategoryListWrap{
    display: inline-block;
}

.fundingCategoryListWrap ul{
    padding: 0;
}

.fundingCategoryListCricle{
    display: inline-block;
    margin: 0;
    width: 80px;
    height: 118px;
    text-align: center;
    text-indent: 0;
    font-size: 13px;
    box-sizing: border-box;
    
}

.fundingCategoryListCricleImageC0,
.fundingCategoryListCricleImageC1,
.fundingCategoryListCricleImageC2,
.fundingCategoryListCricleImageC3,
.fundingCategoryListCricleImageC4,
.fundingCategoryListCricleImageC5,
.fundingCategoryListCricleImageC6,
.fundingCategoryListCricleImageC7,
.fundingCategoryListCricleImageC8{
    margin:auto;
    display: block;
    background-size: 175%;
    background-repeat: no-repeat;
    background-position: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-width: 2px;
    border: 2px white solid;
}
.fundingCategoryListCricleImageC0:hover,
.fundingCategoryListCricleImageC1:hover,
.fundingCategoryListCricleImageC2:hover,
.fundingCategoryListCricleImageC3:hover,
.fundingCategoryListCricleImageC4:hover,
.fundingCategoryListCricleImageC5:hover,
.fundingCategoryListCricleImageC6:hover,
.fundingCategoryListCricleImageC7:hover,
.fundingCategoryListCricleImageC8:hover{
    border: 2px skyblue solid;
}


.fundingCategoryListCricleImageC0{
    background-image: url("./../image/category.jpg");
}
.fundingCategoryListCricleImageC1{
    background-image: url("./../image/tech1.jpg");
}
.fundingCategoryListCricleImageC2{
    background-image: url("./../image/food3.jpg");
}
.fundingCategoryListCricleImageC3{
    background-image: url("./../image/trip.jpg");
}
.fundingCategoryListCricleImageC4{
    background-image: url("./../image/sports.jpg");
}
.fundingCategoryListCricleImageC5{
    background-image: url("./../image/game.jpg");
}
.fundingCategoryListCricleImageC6{
    background-image: url("./../image/meeting2.jpg");
}
.fundingCategoryListCricleImageC7{
    background-image: url("./../image/pet.jpg");
    background-size: 150%;
}
.fundingCategoryListCricleImageC8{
    background-image: url("./../image/donate.jpg");
    background-size: 120%;
}
.fundingCategoryListCricleName{
    margin-top: 8px;
    line-height: 18px;
    white-space: nowrap;
    font-size: 14px;
    color: black;
    font-weight: 600;
}

/* 카테고리 제목 */
.fundingProjectList{
	margin: 50px;
}
.fundingProjectListHead{
	border-bottom: 1px solid rgba(0,0,0,.1);
    position: relative;
    margin: 0 auto;
    text-align: right;
}
.fundingProjectListHeadTitle{
    font-weight: 700;
    display: block;
    position: absolute;
    line-height: 32px;
    font-size: 24px;
    top:-5px;
    left: 0;
}

input[type=search]{
    opacity: 1;
    outline: none;
}
.fundingProjectListSearch{
    display: inline-block;
}

#searchKeyword2{
	position:absolute;
	top: 0;
	right: 207px;
	padding-right: 25px;
	background: none;
	width: 200px;
	border:0;
	border-bottom: 1px solid #BBB;
	z-index: 1;
}

#searchButton{
	float: right;
	text-align: right;
	background: url(./../image/searchicon.png) no-repeat 50%;
	background-size: 60%;
	position: absolute;
    top: -3px;
    right: 197px;
	width: 30px;
	height: 30px;
	border: 1px solid rgb(225, 225, 225);
	outline: 0;
	border-radius: 10%;
	z-index: 2;
}
#searchButton:hover{
	cursor: pointer;
}
#searchSelect1,
#searchSelect2{
	outline: 0;
	border:0;
	margin-bottom: 10px;
	color:#7b7b7b;
}

/* 목록 */
.fundingProjectCardListIn{
    display: grid;
    grid-template-columns: repeat(3, calc(33.33% - 30px));
    gap: 45px;
    margin-top: 30px;
}

/* 목록 제목 */

.fundingProjectCardItem{
    background-color: #dadada;
    border: 1px solid;
}

.fundingProjectCardItemImage{
    width: 100%;
    height: 200px;
    background-image: url("./../image/tech1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.fundingProjectCardListInfo{
	background-color: white;
    overflow: hidden;
}
.fundingProjectCardItemTitleBox{
    height: 80px;
}
.fundingProjectCardItemTitleLink{
    text-decoration: none;
}

.fundingProjectCardItemTitleLink p{
    display: block;
    margin:0;
    font-size: 20px;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rewordProjectCardCategory,
.rewordProjectCardMakerName{
	display:block;
    font-size: 14px;
    font-weight: 700;
    color:#90949c;
    vertical-align: top;
}
.line{
	border-right: 1px solid rgba(0,0,0,.1);
	margin-right: 5px;
}
.rewordProjectCardCategory{
	display:inline-block;
}
.rewordProjectCardMakerName{
	display:inline-block;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top:10px;
}

.RewordProjectCardBar span{
    display: block;
    background-color: skyblue;
    height: 2px;
    height: 3px;
    margin-top: 10px;
}
.progress{
	height: 5px;
}
.RewordProjectCardPercent{
    color: skyblue;
    font-size: 15px;
    font-weight: 600;
}
.RewordProjectCardAmount{
    color: #90949c;
    font-weight: 600;
}
.RewordProjectCardDay{
    color: #90949c;
    font-weight: 600;
    float: right;
}
.pagination{
    margin-top: 40px;
}
.moreFunding{
    margin-top: 45px;
    margin-bottom: 45px;
    text-align: center;

}
.moreFunding button{
    width: 100%;
    font-size: 15px;
    background-color: white;
    color: skyblue;
    padding: 15px 0px;
    border-radius: 10px;
    font-weight: 700;
    cursor: inherit;
    border:0;
    outline:0;
}