/* 펀딩리스트 */
.FundingMainWrapper{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid;
}

/* 슬라이드 이미지 */
.FundingViewSlider{
    position: relative;
    background: lightgray;
    overflow: hidden;
    /* max-width: 100%;
    height: 400px;
    margin:0 auto;
    overflow: hidden; */
    border: 1px solid black;
}
.FundingViewSlideList{
    height: 100%;
}
.FundingViewSlideTrack{
    width:4000px;
    opacity: 1;
    transform: translate(-800px, 0px, 0px);
}
.FundingViewSlideClone{
    width: 1300px;
}

.FundingViewSlideClone a{
    max-width: 100%;
    height: 500px;
    display: block;
    background-image: url("./../image/food1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.FundingViewSlideWrap{
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}
.FundingViewSlideText{
    padding: 44px 44px 45px;
}
.FundingViewSlideTitle{
    width: 460px;
    line-height: 40px;
    font-size: 32px;
    font-weight: 700;
    color: white;
}
.FundingViewSlideContent{
    line-height: 18px;
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
    margin-right: 4px;
    color: white;
    font-weight: 600;
}

/* 슬라이드 이미지 슬라이드바 */
.FundingViewSlideBar{
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1440px;
    height: 0;
}
.FundingViewSlideArrows{
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 10;
    padding: 30px 0;
    right: 128px;
}
.FundingViewSlideArrowsPrev,
.FundingViewSlideArrowsNext{
    outline: none;
    margin: 0;
    background: rgba(0, 0, 0, .1);
    width: 40px;
    height: 40px;
    transition: color .2s;
    border: 0;
    cursor: pointer;
    line-height: 0;
    color: hsla(0, 0%, 100%, .5);
    font-size: 0;
}
.FundingViewSlideArrowsPrev{
    background-position: center;
    background-size: 40%;
    background-image: url("./../image/left.png");
    background-repeat: no-repeat;
}
.FundingViewSlideArrowsNext{
    background-position: center;
    background-size: 40%;
    background-image: url("./../image/right.png");
    background-repeat: no-repeat;
}

.FundingViewSlideBarActive{
    bottom: 20px;
    left: 44px;
    position: absolute;
    z-index: 9;
    background: hsla(0, 0%, 100%, 3);
    width: 375px;
    height: 2px;
}

/*카테고리*/

.FundingCategoryContainer{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.FundingCategoryList{
    padding-left: 48px;
    text-indent: -48px;
    line-height: 0;
    font-size: 0;
    margin: auto;

}

.FundingCategoryListWrap{
    display: inline-block;
}

.FundingCategoryListCricle{
    display: inline-block;
    margin: 0;
    width: 80px;
    height: 118px;
    text-align: center;
    text-indent: 0;
    font-size: 13px;
    box-sizing: border-box;
    
}

.FundingCategoryListCricleImage0,
.FundingCategoryListCricleImage1,
.FundingCategoryListCricleImage2,
.FundingCategoryListCricleImage3,
.FundingCategoryListCricleImage4,
.FundingCategoryListCricleImage5,
.FundingCategoryListCricleImage6,
.FundingCategoryListCricleImage7,
.FundingCategoryListCricleImage8{
    margin:auto;
    display: block;
    background-size: 175%;
    background-repeat: no-repeat;
    background-position: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-width: 2px;
    border: 2px white solid;
}
.FundingCategoryListCricleImage0:hover,
.FundingCategoryListCricleImage1:hover,
.FundingCategoryListCricleImage2:hover,
.FundingCategoryListCricleImage3:hover,
.FundingCategoryListCricleImage4:hover,
.FundingCategoryListCricleImage5:hover,
.FundingCategoryListCricleImage6:hover,
.FundingCategoryListCricleImage7:hover,
.FundingCategoryListCricleImage8:hover{
    border: 2px skyblue solid;
}


.FundingCategoryListCricleImage0{
    background-image: url("./../image/category.jpg");
}
.FundingCategoryListCricleImage1{
    background-image: url("./../image/tech1.jpg");
}
.FundingCategoryListCricleImage2{
    background-image: url("./../image/food3.jpg");
}
.FundingCategoryListCricleImage3{
    background-image: url("./../image/trip.jpg");
}
.FundingCategoryListCricleImage4{
    background-image: url("./../image/sports.jpg");
}
.FundingCategoryListCricleImage5{
    background-image: url("./../image/game.jpg");
}
.FundingCategoryListCricleImage6{
    background-image: url("./../image/meeting2.jpg");
}
.FundingCategoryListCricleImage7{
    background-image: url("./../image/pet.jpg");
    background-size: 150%;
}
.FundingCategoryListCricleImage8{
    background-image: url("../image/donate.jpg");
    background-size: 120%;
}
.FundingCategoryListCricleName{
    margin-top: 8px;
    line-height: 18px;
    white-space: nowrap;
    font-size: 14px;
    color: black;
    font-weight: 600;
}

/* 카테고리 제목 */
.FundingProjectListHead{
    position: relative;
    margin: 0 auto;
    text-align: right;
}
.FundingProjectListHeadTitle{
    font-weight: 700;
    display: block;
    position: absolute;
    bottom: -27px;
    line-height: 32px;
    font-size: 24px;
    left: 0;
}

input[type=search]{
    opacity: 1;
    outline: none;
}
.FundingProjectListSearch{
    display: inline-block;
}
.SearchButtonIcon{
    display: inline-block;
}
.FundingProjectListSearchOption1{
    display: inline-block;
}
.FundingProjectListSearchOption2{
    display: inline-block;
}

/* 목록 */
.FundingProjectCardListIn{
    display: grid;
    grid-template-columns: repeat(3, calc(33.33% - 30px));
    gap: 45px;
    margin-top: 30px;
}

/* 목록 제목 */

.FundingProjectCardItem{
    border: 1px solid black;
}

.FundingProjectCardItemImage{
    border: 1px solid black;
    width: 100%;
    height: 200px;
    background-image: url("./../image/tech1.jpg");
    background-size: 100%;
}
.FundingProjectCardListInfo{
    overflow: hidden;
}
.FundingProjectCardItemTitleBox{
    height: 80px;
}
.FundingProjectCardItemTitleLink{
    text-decoration: none;
}

.FundingProjectCardItemTitleLink p{
    display: block;
    margin:0;
    font-size: 20px;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
}

.RewordProjectCardCategory{
    font-size: 14px;
    font-weight: 700;
    opacity: .5;
}

.RewordProjectCardMakerName{
    font-size: 14px;
    font-weight: 700;
    opacity: .5;
}

.RewordProjectCardBar span{
    display: block;
    background-color: skyblue;
    width: 20%;
    height: 2px;
    height: 3px;
    margin-top: 10px;
}
.RewordProjectCardPercent{
    color: skyblue;
    font-size: 15px;
    font-weight: 600;
}
.RewordProjectCardAmount{
    color: #90949c;
    font-weight: 600;
}
.RewordProjectCardDay{
    color: #90949c;
    font-weight: 600;
    float: right;
}
.MoreFunding{
    margin-top: 10px;
    text-align: center;

}
.MoreFunding button{
    width: 300px;
    font-size: 15px;
    border: 1px solid skyblue;
    background-color: white;
    color: skyblue;
    padding: 15px 0px;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}
.MoreFunding button:hover{
    background-color: skyblue;
    color: white;
}