@charset "UTF-8";

html, body {
	margin: 0 auto;
	padding: 0;
}

header {
	margin: 0 auto;
    width: 1300px;
    height: 156px;
    position: relative;
    border:1px solid red;
}

section {
	margin: 0 auto;
	width: 1300px;
	position:relative;
	border:1px solid red;
}
a:link {
	color: black;
	text-decoration: none;
}
a:visited {
	color: black;
}
a:hover {
	text-decoration: underline;
}
a:active {
	color: tomato;
}