@charset "UTF-8";

html, body {
	margin: 0 auto;
	padding: 0;
}

header {
	margin: 0 auto;
    width: 1300px;
    height: 60px;
    position: relative;
    border:1px solid red;
}

header nav ol{
	position:absolute;
	left:0;
	top:0;
	list-style: none;
	display: flex;
	margin:0;
	padding:0;
}
header nav ol li{
	margin-left:10px;
	margin-right:10px;
	font-size: 25px;
	line-height: 60px;
	font-weight: bold;
}

section {
	margin: 0 auto;
	width: 1300px;
	position:relative;
	border:1px solid red;
}
a:link {
	color: black;
	text-decoration: none;
}
a:visited {
	color: black;
}
a:hover {
	text-decoration: none !important;
}
a:focus {
	text-decoration: none !important;
}
a:active {
	color: tomato;
}

#index_searchBar_container{
	position:absolute;
	right:400px;
	top:10px;
	width:400px;	
	height:40px;
	background-color: rgb(240,242,245);
	border-radius: 30px;
}
#searchBar_relative{
	position:relative;
	width:400px;	
	height:40px;
}
#searchBar_relative svg{
	position: absolute;
	left:10px;
	top:10px;
}
#searchBar_relative input{
	position:absolute;
	right:10px;
	top:3px;
	width:350px;
	height:35px;
	background:none;
	border:none;
	text-align:center;
	font-size:16px !important;
}

#btn_login{
	position:absolute;
	width:80px;
	height:35px;
	right:280px;
	top:12px;
	border:1px solid blue;
	font-weight:bold;
	text-align:center !important;
	font-size:16px !important;
}
#btn_login:hover{
	color:white;
}
#btn_enroll{
	position:absolute;
	width:90px;
	height:35px;
	right:185px;
	top:12px;
	border:1px solid blue;
	font-weight:bold;
	text-align:center !important;
	font-size:16px !important;
}
#btn_enroll:hover{
	color:white;
}
#project_open{
	position:absolute;
	width:180px;
	height:35px;
	right:0;
	top:12px;
	border:1px solid rgb(40,167,69);
	font-weight: bold;
	text-align:center !important;
	font-size:16px !important;
}
#project_open:hover{
	color:white;
}

#login_container{
	position:absolute;
	width:200px;
	height:50px;
	right:175px;
	top:5px;
	text-align:center;
}
#login_relative{
	position:relative;
	width:200px;
	height:50px;
}
#login_relative svg{
	position:absolute;
	left:0px;
	top:12px;
	cursor:pointer;
}
#login_relative span{
	position:absolute;
	right:10px;
	top:12px;
	font-size:16px;
}
#login_relative span a{
	font-weight:bold;
	font-size:20px;
}