@charset "UTF-8";

/* ol {
	height: 50px;
	padding: 0;
	margin: 0;
	border: 2px solid black;
}

li {
	display: inline-block;
	width: 98px;
}

.yh-container {
	position: relative;
}

.yh-containerView {
	width: 950px;
	display: inline-block;
	padding-left: 100px;
} */

/*기원 공통 css 작업본입니다. start */
#funding_tap_wrapper {
	padding-top: 10px;
}

/*기원 공통 css 작업본입니다. end*/

/* news */
.yh-view {
	/* position: absolute;
	top: 0px; */
	border-bottom: 2px solid black;
	width: 700px;
	display: inline-block;
}

.yh-containertable {
	position: relative;
}

.yh-table td {
	border-bottom: 1px solid lightgray;
	width: 700px;
}

.newsWriteView {
	position: absolute;
	left: 50%;
	top: 500px;
	transform: translate(-50%, -50%);
	width: 800px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	background: #fff;
	border-radius: 5px;
	padding: 20px;
	box-sizing: border-box;
	display: none;
	transition: all 0.5;
	z-index: 1000;
}

.newsWriteView a {
	color: gray;
	text-decoration: none;
}

.dim {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	display: none;
	transition: all 0.5s;
}

.newsWriteViewA {
	text-align: right;
}

#newsTitle {
	width: 728px;
	margin-left: 15px;
	height: 40px;
	margin-top: 10px;
}

.modal-backdrop {
	/* bug fix - no overlay */
	display: none;
}

#nv-view-btn {
	border: 1px solid #00b2b2;
	color: #00b2b2;
	background-color: white;
	cursor: pointer;
	height: 40px;
}

#nv-view-btn:hover {
	background-color: #138496;
	color: white;
	cursor: pointer;
	height: 40px;
}

#newsWriteBtn{
	border: 1px solid#00b2b2; 
	color:#00b2b2; 
	background-color: white;
	cursor: pointer;
}
#newsWriteBtn:hover{
	border: 1px solid #138496; 
	color:white; 
	background-color: #138496;
	cursor: pointer;
}
.noNews{
	text-align: center;
	border-bottom: 0 !important;
	color: darkgray;
	padding-top: 100px;
}

/* 새소식 펀딩 */
/* .yh-funding {
	width: 200px;
	display: inline-block;
}

.yh-fundingStyle{
	border: 2px solid black;
} */

/* 커뮤니티 */
.yh-c-view {
	/* position: absolute;
	top: 0; */
	width: 700px;
	display: inline-block;
}

.yh-c-view strong {
	font-size: 18px;
}

.yh-FAQ {
	margin-top: 40px;
	margin-bottom: 10px;
}

/* .yh-c-containertable{
	position: absolute;
	top: 200px;
} */
.FAQ-btn {
	cursor: pointer;
	border: 0;
	background-color: white;
	padding: 0;
	width: 700px;
	text-align: left;
	border-bottom: 1px solid lightgray;
	padding-bottom: 10px;
	padding-top: 10px;
}

yh-c-table {
	position: relative;
}

.yh-c-table p {
	/* width: 690px; */
	/* height: 35px; */
	margin: 0;
	margin-top: 10px;
}

.FAQB {
	margin-top: 30px;
	width: 700px;
	background-color: white;
	border: 0;
	cursor: pointer;
}

.inquire {
	margin-top: 50px;
}

.maker {
	position: relative;
	padding-bottom: 60px;
	border-bottom: 1px solid lightgray;
	width: 700px;
	margin-bottom: 20px;
}

.maker p {
	position: absolute;
	top: 10px;
	/* left: 70px; */
	font-size: 20px;
}

.maker div {
	display: inline-block;
}

.inquire-btn {
	position: absolute;
	top: 5px;
	left: 100px;
	width: 120px;
	height: 35px;
	border-radius: 50px;
	cursor: pointer;
	border: 1px solid #00b2b2;
	color: #00b2b2;
	background-color: white;
}

.inquire-btn:hover {
	position: absolute;
	top: 5px;
	left: 100px;
	width: 120px;
	height: 35px;
	border-radius: 50px;
	background-color: #138496;
	color: white;
	cursor: pointer;
}

.review-top {
	border-bottom: 1px solid black;
	padding-bottom: 15px;
	width: 700px;
}

.yh-comment {
	width: 700px;
	margin-top: 20px;
	position: relative;
	margin-bottom: 50px;
}

.yh-maker-comment {
	width: 700px;
	margin-top: 10px;
	background-color: lightblue;
}

#c-write-btn {
	margin-bottom: 20px;
	width: 400px;
	height: 50px;
	border: 0;
	cursor: pointer;
	border: 1px solid #00b2b2;
	color: #00b2b2;
	background-color: white;
}

#c-write-btn:hover {
	margin-bottom: 20px;
	width: 400px;
	height: 50px;
	border: 0;
	cursor: pointer;
	background-color: #138496;
	color: white;
}

.FAQ-answer {
	width: 700px;
	background-color: lightblue;
	padding: 10px;
	margin-top: 10px;
	display: none;
}

.FAQ-answer p {
	margin: 0;
}

#FAQ_more {
	display: none;
}

.commentUpdateBtn {
	display: none;
}

.commentDeleteBtn {
	display: none;
	background-color: white;
	border: 1px solid red;
	cursor: pointer;
	color: red;
	border-radius: 5px;
}

.commentDeleteBtn:hover {
	background-color: darkred;
	border: 1px solid darkred;
	cursor: pointer;
	color: white;
	border-radius: 5px;
}

.yh-comment:hover .commentUpdateBtn {
	display: inline-block;
}

.yh-comment:hover .commentDeleteBtn {
	display: inline-block;
}

/* 서포터 */
.yh-s-view {
	/* position: absolute;
	top: 0; */
	width: 700px;
	display: inline-block;
}

.yh-s-view strong {
	color: #00b2b2;
}

.yh-s-table td {
	border-bottom: 1px solid lightgray;
	width: 700px;
	padding-top: 20px
}

.yh-s-table strong {
	font-size: 20px;
}

/* 새소식 뷰 */
.yh-nv-view {
	border-bottom: 1px solid lightgray;
	width: 700px;
	display: inline-block;
}

.yh-nv-text {
	width: 700px;
	border-bottom: 1px solid lightgray;
}

#nv-share-btn-div {
	position: relative;
}

#nv-share-btn {
	margin-bottom: 50px;
	margin-top: 30px;
	border: 0;
	height: 30px;
	border-radius: 10px;
	border: 1px solid #00b2b2;
	color: #00b2b2;
	cursor: pointer;
	background-color: white;
}

#nv-share-btn:hover {
	margin-bottom: 50px;
	margin-top: 30px;
	border: 0;
	height: 30px;
	border-radius: 10px;
	background-color: #138496;
	color: white;
	cursor: pointer;
}

.nv-comment {
	width: 600px;
	height: 100px;
	border: 1px solid lightgray;
	margin-bottom: 20px;
}

#nv-comment-btn {
	width: 80px;
	height: 100px;
	position: absolute;
	right: 0;
}

.nv-comment-red {
	width: 700px;
	background-color: hsla(0, 100%, 70%, .1);
	padding: 16px;
	margin-bottom: 30px;
}

.nv-comment-red small {
	color: red;
}

#newsUpdateBtn{
	border: 1px solid#00b2b2; 
	color:#00b2b2; 
	background-color: white;
	cursor: pointer;
	display: inline-block;
}

#newsUpdateBtn:hover{
	border: 1px solid #138496; 
	color:white; 
	background-color: #138496;
	cursor: pointer;
	display: inline-block;
}

#newsDeleteBtn{
	border: 1px solid#00b2b2; 
	color:#00b2b2; 
	background-color: white;
	cursor: pointer;
	display: inline-block;
}

#newsDeleteBtn:hover{
	border: 1px solid #138496; 
	color:white; 
	background-color: #138496;
	cursor: pointer;
	display: inline-block;
}

#newsDeleteFrm{
	display: inline-block;
}

/* 팝업 */
.popup {
	width: 200px;
	height: 50px;
	border: 1px solid lightgray;
	border-radius: 5px;
	display: none;
	margin-bottom: 10px;
	position: absolute;
	top: 70px;
	background-color: white;
}

/* .popup:target{
	display: block;
} */
.popup-a {
	text-align: right;
}

.addthis_inline_share_toolbox_a8gi {
	text-align: center;
	padding-top: 3px;
}

.nv-c-comment {
	width: 600px;
	height: 100px;
	border: 1px solid lightgray;
	margin-bottom: 10px;
}

#nv-c-comment-btn {
	width: 80px;
	height: 100px;
	position: absolute;
	right: 0;
	color: #00b2b2;
}

.yh-c-comment {
	margin-top: 10px;
	display: none;
	position: relative;
}

/* 글 남기기 */
.c-write-view {
	position: absolute;
	left: 50%;
	top: 500px;
	transform: translate(-50%, -50%);
	width: 800px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	background: #fff;
	border-radius: 5px;
	padding: 20px;
	box-sizing: border-box;
	display: none;
	transition: all 0.5;
	z-index: 1000;
}

.c-write-view a {
	color: gray;
	text-decoration: none;
}

/* .c-write-view:target{
	opacity: 1;
	z-index: 3;
}

.c-write-view:target + .dim{
	opacity: 1;
	z-index: 2;
} */
.dim {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	display: none;
	transition: all 0.5s;
}

.c-write-view-a {
	text-align: right;
}

.yh-checkbox1 {
	border: 1px solid black;
	border-radius: 30px;
	width: 350px;
	background-color: white;
	display: inline-block;
	margin: 5px;
}

.yh-checkbox1 input {
	margin-left: 15px;
	cursor: pointer;
}

.yh-checkbox1 div {
	margin-top: 6px;
}

.yh-checkbox1 label {
	cursor: pointer;
	width: 350px;
	margin: 0;
	height: 35px;
}

.c-write-comment {
	margin-top: 30px;
	margin-bottom: 30px;
}

.c-write-comment-textb {
	width: 760px;
	height: 300px;
}

.comment-red {
	width: 760px;
	background-color: hsla(0, 100%, 70%, .1);
	padding: 16px;
	margin-bottom: 50px;
}

.comment-red small {
	color: red;
}

.yh-c-write-view-btn input {
	width: 760px;
	height: 50px;
	margin-top: 30px;
}

.clicked {
	background-color: #00b2b2;
	color: white;
}

/* 호현 */
/* 공통 css 작업 기원 수정입니다.*/
#funding_top_title_wrapper_wrapper {
	height: 205px;
	overflow: hidden;
	width: auto;
}

#funding_top_title_wrapper {
	
}

#funding_top_title {
	
}

#funding_top_title_image {
	width: 1600px;
	height: 197px;
	filter: blur(5px);
	transform: scale(1.8);
}

#funding_top_title_div {
	margin-top: -159px;
	text-align: center;
	font-size: 40px;
	font-weight: 900;
	z-index: 999;
	position: relative;
	color: #fff;
}

#funding_top_p {
	margin-top: -62px;
	text-align: center;
	font-size: 40px;
	font-weight: 900;
	z-index: 999;
}

#funding_tap {
	
}
/*공통작업 css 기원 margin-bottom 추가 했습니다.*/
#funding_tap>ol {
	height: 50px;
	border-bottom: 1px solid #c0c2c0;
	text-align: center;
	margin-bottom: 45px;
}

#funding_tap>ol>li {
	display: inline-block;
	width: 98px;
	white-space: nowrap;
	padding: 3px 10px;
	font-weight: 800;
}
/*공통작업 css 기원 */
#funding_tap a:hover {
	border-bottom: 5px solid #00a2a2;
}

/* 펀딩 메인 전체 div */
#funding_main {
	width: 1000px;
	display: flex;
	margin: auto;
}

#funding_main_image_and_content {
	width: 800px;
	overflow: hidden;
}

/* 펀딩 메인 이미지 */
#funding_main_image {
	height: 500px;
	width: 95%;
}

/* 펀딩 메인 내용 */
#funding_main_content {
	width: 97%;
	height: 2000px;
}

/* 펀딩 메인 오른쪽 펀딩하기 div*/
#funing_main_right_div {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 30px;
}

#funing_main_right_div_2, #funing_main_right_div_3,
	#funing_main_right_div_4 {
	border: 2px solid #cccccc;
	border-radius: 6px;
}

/* 펀딩 메인 오른쪽 펀딩하기 div1 > div*/
#funing_main_right_div_1>div {
	height: 41px;
	margin-top: 6px;
}

#funing_main_right_div_2 {
	height: 229px !important;
}

/* #funing_main_right_div > div{
    width: 200px;
    height: 400px;
    padding-left: 10px;
    padding-top: 9px;
    } */
#funing_main_right_div>div {
	width: 220px;
	padding-left: 10px;
	padding-top: 9px;
}

#funing_main_right_div_3 {
	margin-bottom: 13px;
}

#funing_main_right_div_3 {
	margin-bottom: 13px;
	cursor: pointer;
	min-height: 300px;
	opacity: 0.2s;
}

#funing_main_right_div_4 {
	min-height: 300px;
}

/* 펀딩하기버튼 */
#funding_button {
	width: 96%;
	height: 50px;
	margin-top: 25px;
}

/* 좋아요 1:1채팅 공유하기 버튼 */
#funding_detail_like_button, #funding_detail_chat_button {
	width: 47.8%;
	height: 33px;
	margin-top: 8px;
}

/* 메이커 로고 + name */
#funding_detail_maker_logo_name_div {
	display: flex;
}

#funding_detail_maker_logo_name_div>div {
	/* border: 2px solid black; */
	
}

#funding_detail_dday_bar_wrapper {
	height: 2px;
}

#funding_detail_dday_div {
	font-size: 24px;
	font-weight: 700;
}

#funding_detail_dday_bar {
	height: 10px;
	margin-top: 14px;
}

#funding_detail_maker_chat_button {
	margin-top: 13px;
	width: 96%;
	height: 50px;
}

#funding_detail_maker_name {
	margin-bottom: 11px;
	font-size: 25px;
}

#maker_span, #reward_span, #ranking_span {
	font-size: 9px;
	color: gray;
}
/*공통작업 기원 css 수정*/
.category_code_span {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	color: #00a2a2;
}

.funding_main_reward_choice_div:hover {
	
}

#fundingReward_title {
	font-size: 17px;
	padding-bottom: 9px;
}

#fundingReward_content {
	color: #929292;
	font-size: 14px;
	padding-bottom: 9px;
}

#fundingReward_shipping_title {
	color: #929292;
	font-size: 14px;
}

#fundingReward_shippint_price {
	font-size: 17px;
	padding-bottom: 9px;
}

#fundingReward_shipping_date_title {
	color: #929292;
	font-size: 14px;
}

#fundingReward_shipping_date_number {
	font-size: 15px;
	padding-bottom: 9px;
}

#fundingReward_limit {
	color: #00a2a2;
	font-size: 14px;
	display: inline;
}

#fundingReward_reward_ing {
	font-size: 14px;
}

#fundingReward_price {
	padding-bottom: 10px;
}

#fundingReward_hoverdiv {
	background-color: pink;
}

#funing_main_right_div_4 {
	position: relative;
}

.funing_main_right_div_4-span {
	font-size: 12px;
	width: 15px;
	background-color: #00b2b2;
	text-align: center;
	color: #fff;
	position: absolute;
	margin-left: -7px;
}

.likeDiv {
	font-size: 13px;
	padding-left: 14px;
	display: -webkit-box;
	width: 210px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-bottom: 23px;
	color: rgba(0, 0, 0, .75);
}

#chatMessage{
	width: 88%;
    height: 36px;
	
}