<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<!-- 김윤수 -->
	<select id="selectEmailCheck" resultType="_int" >
		select count(*) 
		from member
		where email = '${email}'
	</select>

	<insert id="insertMemberIf">
		insert into member(member_no, email, password, name, platform, reg_date) 
		values(seq_member_no.nextval, '${email}', '${password}', '${name}', '${platform}', default)
	</insert>	
	
	<select id="selectOneMember" resultType="member">
		select * 
		from member
		where email = '${email}' and platform='IF'
	</select>
	<!-- 김경태 -->
	<!-- 김주연 -->
	<!-- 박요한 -->
	<!-- 배기원 -->
	<!-- 이승우 -->
	<!-- 천호현 -->
</mapper>