<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="funding">
	<!-- 김윤수 -->
	<!-- 김경태 -->
	<!-- 김주연 -->
	<select id="statusYList" resultMap="fundingCollectionMap">
		select F.*,
		       A.no,
		       A.funding_no,
		       A.originalfilename,
		       A.renamedfilename,
		       A.status Astatus
		from funding F left join attachment A
		on F.funding_no = A.funding_no
		where 
		    writer_no = #{memberNo}
		    and F.status = 'Y'
		order by
			F.funding_no desc
	</select>
	<select id="statusNList" resultMap="fundingCollectionMap">
		select F.*,
		       A.no "attach_no",
		       A.funding_no,
		       A.originalfilename,
		       A.renamedfilename,
		       A.status "astatus"
		from funding F left join attachment A
		on F.funding_no = A.funding_no
		where 
		    writer_no = #{memberNo}
		    and F.status = 'N'
		order by
			F.funding_no desc
	</select>
	
	<resultMap type="FundingExt" id="fundingCollectionMap">
		<id column ="funding_no" property="fundingNo"/>
		<result column="title" property="title"/>
		<result column="category_code" property="categoryCode"/>
		<result column="now_amount" property="nowAmount"/>
		<result column="goal_amount" property="goalAmount"/>
		<result column="rate_plan_code" property="ratePlanCode"/>
		<result column="writer_no" property="writerNo"/>
		<result column="read_count" property="readCount"/>
		<result column="like_count" property="likeCount"/>
		<result column="content" property="content"/>
		<result column="early_content" property="earlyContent"/>
		<result column="start_date" property="startDate"/>
		<result column="d_day" property="dDay"/>
		<result column="reg_date" property="regDate"/>
		<result column="phone" property="phone"/>
		<result column="status" property="status" typeHandler="booleanYnTypeHandler"/>
		<collection property="attachList" ofType="attachment">
			<id column="attach_no" property="no"/>
			<result column="funding_no" property="fundingNo"/>
			<result column="originalFilename" property="originalFilename"/>
			<result column="renamedFilename" property="renamedFilename"/>
			<result column="astatus" property="status" typeHandler="booleanYnTypeHandler"/>
		</collection>
	</resultMap>
	
	<resultMap type="FundingExt" id="fundingMap">
		<result column="status" property="status" typeHandler="booleanYnTypeHandler"/>
	</resultMap>
	
	<select id="loadFunding" resultMap="fundingCollectionMap">
		select F.*,
		       A.no "attach_no",
		       A.funding_no,
		       A.originalfilename,
		       A.renamedfilename,
		       A.status "astatus"
		from 
			funding F left join attachment A
				on F.funding_no = A.funding_no
		where 
			F.funding_no = #{fundingNo}	
	</select>
	
	<select id="selectCheckFunding" resultMap="fundingCollectionMap">
		select F.*,
	       A.no "attach_no",
	       A.funding_no,
	       A.originalfilename,
	       A.renamedfilename,
	       A.status "astatus"
		from 
			funding F left join attachment A
				on F.funding_no = A.funding_no
		where 
			F.funding_no = #{fundingNo}	
	
	</select>
	
	<insert id="ready1FundingInsertNo">
		insert into
			funding(
				funding_no,
				writer_no,
				reg_date,
				status
			)
			values(
				seq_funding_no.nextval,
				#{writerNo},
				default,
				'N'
				
			)
		<!--발급받은 funding pk no값을 파라미터 funding객체의 property no에 저장한다.  -->	
		<!--order After 실행된 다음에 가져온다  -->
		<selectKey keyProperty="fundingNo" resultType="_int" order="AFTER">
			select
				seq_funding_no.currval
			from 
				dual
		
		</selectKey>
	</insert>
	<update id="saveCharge">
		update
			funding
		set
			rate_plan_code = #{charge}
		where
			funding_no = #{no}	
	</update>
	<update id="saveBasicInfo">
		update
			funding
		set
			category_code = #{categoryCode},
			title = #{title},
			goal_amount = #{goalAmount},
			d_day = #{dDay}
		where
			funding_no = ${fundingNo}	
	</update>
	<insert id="insertAttachment">
	insert into
		attachment(
			no,
			funding_no,
			originalFilename,
			renamedFilename
		)
		values(
			seq_attachment_no.nextval,
			#{fundingNo},
			#{originalFilename},
			#{renamedFilename}
		
		)
	</insert>
	
	<update id="saveStory">
		update
			funding
		<set>
		
			content = #{content},
		
			early_content = #{earlyContent},
			
		
			start_date = #{startDate}
				
		</set>	
		where
			funding_no = #{fundingNo}	
	</update>
	
	<select id="loadReward" resultType="reward">
		select
			*
		from
			funding_reward
		where
			funding_no=#{fundingNo}
	</select>
	
	<select id="selectOneReward" resultType="reward">
		select
			*
		from
			funding_reward
		where
			reward_no=#{rewardNo}
	</select>
	
	<insert id="insertReward">
		insert into
			funding_reward(
				reward_no,
				funding_no,
				price,
				title,
				content,
				shipping_price,
				limit_amount,
				shipping_date
			)
			values(
				seq_funding_reward_no.nextval,
				#{fundingNo},
				#{price},
				#{title},
				#{content},
				#{shippingPrice},
				#{limitAmount},
				#{shippingDate}		
			)
		
	</insert>
	
	<update id="updateReward">
		update
			funding_reward
		<set>
			price = #{price},
			title = #{title},
			content = #{content},
			shipping_price = #{shippingPrice},
			limit_amount = #{limitAmount},
			shipping_date = #{shippingDate}
		</set>
		where 
			funding_no = #{fundingNo}
	</update>
	
	<delete id="deleteReward">
		delete from funding_reward
		where
			reward_no = #{rewardNo}
	</delete>
	
	<update id="finalSubmit">
		update
			funding
		set
			status = 'Y'
		where
			funding_no = #{fundingNo}
	</update>
	
	<delete id="deleteFunding">
		delete from funding
		where 
			funding_no =#{fundingNo}
	</delete>
	
	
	<!-- 박요한 -->
	<select id="news" resultMap="fundingMap">
		select
			*
		from
			funding_board
		where
			no = #{no}
	</select>
	<select id="community" resultMap="fundingMap">
		select
			*
		from
			funding_comment
		where
			comment_no = #{comment_no}
	</select>
	<select id="supporter" resultMap="fundingMap">
		select
			*
		from
			funding_participation
		where
			no = #{no}
	</select>
	<!-- 배기원 -->
		<select id="indexfundingList" resultMap="fundingMap">
				select rownum, f.*
		from (
			        select funding.* ,
		       CASE category_code
			         WHEN 'C1' THEN '테크·가전'
			         WHEN 'C2' THEN '푸드'
			         WHEN  'C3' THEN '여행'
			         WHEN  'C4' THEN '스포츠'
			         WHEN 'C5' THEN '게임·취미'
			         WHEN 'C6' THEN '모임'
			         WHEN  'C7' THEN  '반려동물'
			         WHEN  'C8' THEN '기부.후원'
			         END as categoryName  
		        from funding  
		        where <![CDATA[ start_date < sysdate and d_day > sysdate]]>
		        order by reg_date  desc
		        ) f
		where rownum between 1 and 6
	    </select>
	    
	    <select id="indexfundinglike" resultMap="fundingMap">
			    	select rownum, f.*
		from (
		        select *
		        from funding   
		      where <![CDATA[ start_date < sysdate and d_day > sysdate]]>
		        order by like_count desc
		        ) f
		where rownum between 1 and 5
	    </select>
	    
	    <select id="indexTotalContents" resultType="_int">
	    	select
				count(*)
		from
			funding
		where 
	       start_date<![CDATA[> ]]>sysdate 
	    </select>
	    <select id="indexEarlyList" resultMap="fundingMap">
		    select*from funding 
	    where 
	       start_date<![CDATA[> ]]>sysdate 
	    </select>
	<!-- 이승우 -->
	<select id="selectFundingList" resultMap="fundingMap">
		select
			*
		from
			funding f
		<where>
			title like '%' || '${searchKeyword}' || '%'
			<if test="FundingCategory != 'C0'">
			and category_code like '%' || '${category}' || '%'
			</if>
			<if test="searchSelect1 == 'processing'">
			and d_day <![CDATA[>]]> sysdate
			</if>
			<if test="searchSelect1 == 'quit'">
			and d_day <![CDATA[<]]> sysdate
			</if>
		</where>
		<if test="searchSelect2 == 'recent'">
		order by reg_date desc
		</if>
		<if test="searchSelect2 == 'recommand'">
		order by like_count desc
		</if>
	</select>
	<select id="selectCategoryList" resultMap="fundingMap">
		select
			*
		from
			category c
	</select>
	<!-- 천호현 -->
    
    <select id="selectOneFunding" resultMap="FundingDetailVoMap">
        select *
        from funding F 
            join funding_reward R 
            on F.funding_no = R.funding_no
            join attachment A
            on F.funding_no = A.funding_no
            join member M
            on F.writer_no = M.member_no
        where F.funding_no = #{funding_no}
    </select>
    
    <resultMap type="FundingDetailVo" id="FundingDetailVoMap">
        <result column="status" property="status" typeHandler="booleanYnTypeHandler"/>
    </resultMap>
    
    <select id="selectOneFunding2" resultType="_int">
        select count(*) count
        from funding_participation
        where funding_no = #{funding_no}
    </select>
</mapper>