<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="funding">
	<!-- 김윤수 -->
	<!-- 김경태 -->
	<!-- 김주연 -->
	<!-- 박요한 -->
	<!-- 배기원 -->
		<select id="indexfundingList" resultType="funding">
				select rownum, f.*
		from (
			        select funding.* ,
		       CASE category_code
			         WHEN 'C1' THEN '테크·가전'
			         WHEN 'C2' THEN '푸드'
			         WHEN  'C3' THEN '여행'
			         WHEN  'C4' THEN '스포츠'
			         WHEN 'C5' THEN '게임·취미'
			         WHEN 'C6' THEN '모임'
			         WHEN  'C7' THEN  '반려동물'
			         WHEN  'C8' THEN '기부.후원'
			         END as categoryName  
		        from funding  
		        where <![CDATA[ start_date < sysdate and d_day > sysdate]]>
		        order by reg_date  desc
		        ) f
		where rownum between 1 and 6
	    </select>
	    
	    <select id="indexfundinglike" resultType="funding">
			    	select rownum, f.*
		from (
		        select *
		        from funding   
		      where <![CDATA[ start_date < sysdate and d_day > sysdate]]>
		        order by like_count desc
		        ) f
		where rownum between 1 and 5
	    </select>
	    
	    <select id="indexTotalContents" resultType="_int">
	    	select
				count(*)
		from
			funding
		where 
	       start_date<![CDATA[> ]]>sysdate 
	    </select>
	    <select id="indexEarlyList" resultType="funding">
		    select*from funding 
	    where 
	       start_date<![CDATA[> ]]>sysdate 
	    </select>
	<!-- 이승우 -->
	<select id="selectFundingList" resultType="funding">
		select
			*
		from
			funding f
		<where>
			title like '%' || '${searchKeyword}' || '%'
			<if test="searchSelect1 == 'processing'">
			and d_day <![CDATA[>]]> sysdate
			</if>
			<if test="searchSelect1 == 'quit'">
			and d_day <![CDATA[<]]> sysdate
			</if>
		</where>
		<if test="searchSelect2 == 'recent'">
		order by reg_date desc
		</if>
		<if test="searchSelect2 == 'recommand'">
		order by like_count desc
		</if>
	</select>
	<!-- 천호현 -->
	<select id="selectFunding" resultMap="fundingVoMap">
		select *
		from funding F
		    join funding_reward R
		    on F.funding_no = R.funding_no
		    join attachment A
		    on f.funding_no = A.funding_no
		    join like_record L
		    on L.funding_no = F.funding_no
		where f.funding_no =#{funding_no}
	</select>
	<select id="selectOneFunding" resultType="funding">
		select
			*
		from
			funding
		where
			funding_no = #{funding_no}
	</select>
	
	<resultMap type="fundingExt" id="fundingVoMap">
	
	</resultMap>
</mapper>
